html(lang='en')
    head
        include partials/bootstrap-script.pug
    body
        .container-sm
            .container-fluid
                h1 Devils Tower Fan Club
            include mixins/customNavbar.pug
            block content