

form(action="/login/validate" method="POST")
    input(name="redirect" type="hidden" value=(locals.redirect != null)?locals.redirect:"/")
    label name 
    input(type="text" name="name" value="")
    br
    label password 
    input(type="password" name="password" value = "" )
    br
    input(type="submit")
