.container-fluid.m-2 
    .row
        .col-sm.border.rounded-3.border-primary 
            a(href="/") index
        .col-sm.border.rounded-3.border-primary  
            a(href="/about") about
        .col-sm.border.rounded-3.border-primary  
            a(href="/wisdom") wisdom 