extends ../main-layout.pug

block content 
    -if(locals.errors != null)
        ul.list-group
            each e in errors
                li.list-group-item.text-danger.border-0.p-0= e

    .text.h3 SUBMIT NEWS 
    form(action="/news/submit", method="POST")
        label header 
        input(type="text", name="header",value="")
        label content
        input(type="text", name="content", value = "")
        input(type="submit",name="action",value="submit")
        input(type="submit",name="action",value="clear")

    .text.h2 NEWS 
    -if(locals.news != null)
        ul
            each n in news
                li= n
    - else
        span="THERE IS NO NEWS"